@import '../../styles//variables.scss';
.Search {
  position: sticky;
  top: 65px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  z-index: 10;
  padding-bottom: 20px;

  .SearchBox {
    display: flex;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .FilteringInfo {
    display: flex;
    margin-top: 20px;
    font-size: 12px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

[type='text'] {
  display: block;
  padding: 0.5rem;
  background: transparent;
  color: $color-font-base;
  width: 100%;
  max-width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-size: 0.95rem;
  &:focus {
    outline: none;
    border: 1px solid $color-brand-3;
  }
}
