$max-container-width: 700px;

$color-font-base: '';
$color-font-light: '';

//colors: brand
$color-brand-1: '';
$color-brand-2: '';
$color-brand-3: '';

// fonts: weights
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

// Box shadow
$card-box-shadow: 0px 3px 10px -2px #ccc;
