$max-container-width: 900px;

$color-font-base: #3f4d5f;
$color-font-light: #a0aec0;

//colors: brand
$color-brand-1: #8194ac;
$color-brand-2: '';
$color-brand-3: #5b708a;

// fonts: weights
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

// fonts: size
$font-size-base: 14px;

// Box shadow
$card-box-shadow: 0px 3px 10px -2px #ccc;
