@import '../../styles//variables.scss';
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $max-container-width;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  z-index: 10;
  position: sticky;
  top: 0;
}

.Flex-end {
  justify-content: flex-end;
}
