@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: #3f4d5f;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}
